@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
    background-image: url("/assets/bgimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
    font-weight:800;
}

.center-div{
    padding-top:10%;
}

.btn.btn-success{
    padding:.4em 2em;
}

small{
    float:left;
    color:black;
}

.container{
    width:35%;
    background-color:rgb(2, 17, 63);
}

form{
    padding:0 3em;
    /* margin: 0 3em */
}

#login .title>span{
    font-size:.8em;
}